main.container{
    width: 70vw;
    height: 40vw;
    margin-top: 2vw;
    padding: 10px;
    background-color: white;
    display: grid;
    grid-template-columns: 20vw 45vw;
}
.interactive-circle{
    background-image: url(assets/images/bg-sidebar-desktop.svg);
    background-position: center;
    background-size: contain;
    width: 20vw;
    height: 38vw;
    flex-direction: row;
}
.circles{
    flex-direction: column;
    padding-top: 2vw;
    padding-left: 2vw;
}
.rounded-circle{
    width: 3vw;
    height: 3vw;
    padding-top: 0vw;
    margin-top: 1.5vw;
    margin-left: 0vw;
    color: white;
    font-size: 1.8vw;
    font-weight: bold;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0.685);
}
.form-container{
    width: 40vw;
    height: 40vw;
    background-color: transparent;
    margin-top: 12vw;
    box-shadow: none;
}
#h1_info{
    font-size: 2.5vw;
    font-weight: 600;
    color: var(--Marine-blue);
}
#p_info{
    font-size: 1.8vw;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.438);
}
label{
    font-size: 1.3vw;
    font-weight: 400;
}
.botao{
    transform: translateY(2vw);
    margin-left: 23vw;
    background-color: var(--Marine-blue);
}