@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
        :root{
            --Marine-blue: hsl(213, 96%, 18%);
            --Purplish-blue: hsl(243, 100%, 62%);
            --Pastel-blue: hsl(228, 100%, 84%);
            --Light-blue: hsla(206, 94%, 87%, 0.63);
            --Strawberr-red: hsl(354, 84%, 57%);
        }
        body{
            background-color: var(--Light-blue);
        }
        main.container{
            font-family: 'Ubuntu', sans-serif;
            padding: 0px;
        }
        .interactive-circle{
            background-image: url('assets/images/bg-sidebar-mobile.svg');
            background-repeat: no-repeat;
            background-size: cover;
            height: 40vw;
        }
        .circles{
            padding-top: 10vw;
        }
        .rounded-circle{
            width: 10vw;
            height: 10vw;
            padding-top: 1.5vw;
            margin-left: 4vw;
            color: white;
            font-size: 4vw;
            font-weight: bold;
            text-align: center;
            border: 2px solid rgba(255, 255, 255, 0.685);
        }
        .form-container{
            background-color: rgb(255, 255, 255);
            width: 90vw;
            height: 65vh;
            padding: 5vw;
            transform: translateY(-14vw);
            box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.514);
            border-radius: 10px;
        }
        #h1_info{
            font-weight: 600;
            color: var(--Marine-blue);
        }
        #p_info{
            font-size: 5vw;
            font-weight: 500;
            color: rgba(0, 0, 0, 0.438);
        }
        label{
            font-size: 4vw;
            font-weight: 400;
        }
    .botao{
        transform: translateY(20vw);
        margin-left: 55vw;
        background-color: var(--Marine-blue);
    }